<h1 class="pop-items">Favorite Pictures</h1>
<div class='item-contents'>
<ul class='item-lists'>
<% num = 0 %>
 <% @posts.each do |post| %>
 <% if post.likes.ids.count >= 0 %>
      <li class='list items2'>
      <h1 class="pop-nums"><%= num += 1%></h1>
      <div class='item-img-content'>
      
      <%= link_to post_path(post) do %>
           <%= image_tag post.image.variant(resize: '360x360'), class:"item-img2" %>
           <% end %>
        <div class='item-info'>
         <h3 class='item-name'>
           <%= post.title %>
           <% if user_signed_in? && current_user.already_liked?(post) %>
              <%= link_to post_likes_path(post), method: :delete do %>
              <i class="heart-color">♥</i>
              <% end %>
            <% elsif user_signed_in? && current_user.id == post.user_id%>
              <i class="heart-color1">♥</i>
            <% else %>
              <%= link_to post_likes_path(post), method: :post do %>
              <i class="heart-color1">♥</i>
              <% end %>
            <% end %>
            <%= post.likes.count %></span>
         </h3>

         <div class="item-price">
            <%= post.text %><br><div class='heart-btn'>
         </div>
      </div>
      </div>

        <%end%>
        <%end%>
  </li>
 </ul>
</div>
<br>
<%= link_to 'back', root_path, class: "move-to-top"%>
