    <div class="content_post">
      <div class="main-image">  
        <%=link_to post_path(post) do %>
        <%=image_tag post.image.variant(resize: '360x360'), class: 'message-image' if post.image.attached? %>
        <% end %>
      </div>
      <div class="main-image2">  
        <h1 class= "image-title"><%= post.title %></h1>
        <h1 class="image-text"><%= post.text %></h1>
      </div>
      <div class="more">
        <span><%= image_tag 'glass.png', class:"arrow-image" %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
            <%= link_to '編集', edit_post_path(post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(post.id), method: :delete %>
          </li>
         <% end %>
        </ul>
      </div>
      <span class="name">
        <a href="/users/<%= post.user.id %>">
          <span>投稿者</span><%= post.user.nickname %>
        </a>
      </span>
    </div>
