<div class="contents row">
    <%= render partial: "post", locals: { post: @post } %>
</div>
  
  <div class="container3">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "4" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
             <%= link_to post_comment_path(@post.id, comment.id), method: :delete, class: "delete-button2" do%>
             <i class="fas fa-trash"></i>
             <%end%>
          </p>
        <% end %>
      <% end %>
        <% if @post.comments.length !=0 %>
            <br>
            <%= link_to '他のコメントを見る', post_comments_path(@post), class: "more-comments"%>
        <%end%>
    </div>
  </div>
</div>
